# Кэш и байткод Python
__pycache__/
*.py[cod]

# Виртуальное окружение Python
.venv/
venv/

# Файлы с переменными окружения
.env

# Файлы редакторов и IDE
.idea/
.vscode/

# Системные файлы ОС
.DS_Store

